.header {
  display: flex;
  background: linear-gradient(to bottom,rgba(176, 0, 255,1),rgba(106, 0, 255,1));

  @media only screen and (max-width: 65.125em) {
    flex-direction: column;
  }

  &::after {
    content: '';
    position: absolute;
    background: rgba(255, 0, 45,1);
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    left: 0;

    @media only screen and (max-width: 65.125em) {
      height: 100%;
    }
  }
  
  &__half {
    height: 100vh;
    position: relative;

    @media only screen and (max-width: 65.125em) {
      height: 75vh;
      position: relative;
    }
  }

  &__halfone {
    width: 48%;
    border-radius: 0 0 27rem 0;
    background: linear-gradient(to bottom,rgba(176, 0, 255,1),rgba(106, 0, 255,1));
    z-index: 2;
    overflow: hidden;

    @media only screen and (max-width: 87.188em) {
      width: 55%;
    }

    @media only screen and (max-width: 65.125em) {
      width: 100%;
    }
  }

  &__halftwo {
    width: 52%;
    border-radius: 20rem .3rem 0;
    background: linear-gradient(to bottom,rgba(255, 166, 0,1),rgba(255, 0, 45,1));
    z-index: 10;

    @media only screen and (max-width: 87.188em) {
      width: 45%;
    }

    @media only screen and (max-width: 65.125em) {
      width: 100%;
      height: 145rem;
    }

    @media only screen and (max-width: 50em) {
      height: 500rem;
    }

    @media only screen and (max-width: 22.5em) {
      height: 400rem;
    }

    &::before {
      content: '';
      right: 0;
      top: 0;
      height: 100%;
      width: 5%;
      background: linear-gradient(to bottom,rgba(255, 166, 0,1),rgba(255, 0, 45,1));
      position: absolute;
      z-index: 2100;
    }
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    color: #fff;
    text-align: left;
    line-height: 8rem;
    padding-left: 8rem;

    @media only screen and (max-width: 87.188em) {
      padding-left: 4rem;
    }

    @media only screen and (max-width: 37.5em) {
      padding-left: 2rem
    }

    &--text {
      margin-top: 30rem;

      @media only screen and (max-width: 73.438em) {
        margin-top: 32rem;
      }

      @media only screen and (max-width: 24rem) {
        margin-top: 23rem;
      }

      @media only screen and (max-width: 22.5rem) {
        margin-top: 20rem;
      }
    }

    & p {
      font-size: 2.5rem;
      font-weight: 700;

      & span {
        display: inline-block;
        margin-right: 1rem;
      }

      & span:nth-child(1) {
        animation: moveInUp 1s ease-out;
      }

      & span:nth-child(2) {
        color: #000000;
        font-weight: 900;
        animation: moveInDown 1s ease-out;
      }
    }

    & h3 {
      font-size: 8rem;
      font-weight: 900;
      animation: moveInLeft 1s ease-out;
    }

    & button {
      border-radius: 3rem;
      padding: 1.5rem 3rem;
      cursor: pointer;
      color: #fff;
      background: #000000;
      box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.6);
      font-size: 2rem;
      outline: none;
      text-decoration: none;
      text-align: center;
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      border: none;
      letter-spacing: .1rem;
      margin-top: 3rem;
      margin-right: 3rem;

      @media only screen and (max-width: 64em) {
        padding: 1.5rem 3rem;
        font-size: 3rem;
      }

      @media only screen and (max-width: 50em) {
        padding: 1.5rem 3rem;
        font-size: 3.3rem;
      }

      @media only screen and (max-width: 37.5em) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 22.5em) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: 20em) {
        padding: 1rem 1.5rem;
        font-size: 2.5rem;
      }

      &:hover {
        transform: translateY(-.3rem)
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center; 
    margin-top: 1rem;

    & span {
      margin: 0 1rem;
      transform: translateY(1rem);
      cursor: pointer;
      height: 6rem;
      width: 6rem;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;    
      box-shadow: 2rem 5rem 8rem rgba(0, 0, 0, 0.8);
      @include revealIcons;
      backface-visibility: hidden;
    }

    &--svg {
      height: 3rem;
      width: 3rem; 
    }
  }
}