.portfolio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  //background: rgba(192, 57, 43, 0.5);
  z-index: 2000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1rem));
  grid-gap: 1rem;
  align-items: start;
  justify-content: center;
  padding: 8rem 1rem 1rem;

  & h3 { 
    grid-column: 1 / -1;
    color: #000000;
    grid-row: span 4;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
  }

  &__close {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      height: 3rem;
      width: 3rem;
      fill: #000000;
    }
  }

  &__card {
    position: relative;
    grid-row: span 16;
    grid-column: span 2;
    height: 30rem;
    cursor: pointer;
    width: 30rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    //box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.6);
    @include portfolioCards;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(45, 52, 54,.1);
      z-index: 10;
    }

    & figure {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 9;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;  
      }
    }

    & span {
      position: relative;
      color: #fff;
      font-weight: 700;
      font-size: 1.7rem;
      cursor: pointer;
      display: inline-block;
      z-index: 11;
      text-transform: uppercase;
      text-align: center;
      padding: 0.2rem 3.5rem;
      border-radius: .3rem 3rem;
      background: #000000;
      box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.6);
      transition:  all .2s cubic-bezier(0.165, 0.84, 0.44, 1);

      &:hover {
        transform: translateY(-.3rem)
      }
    }
  }
}