*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 70%;

  @media only screen and (min-width: 125em) {
    font-size: 86%;
  }

  @media only screen and (min-width: 156.25em) {
    font-size: 96%;
  }

  @media only screen and (min-width: 181.25em) {
    font-size: 110%;
  }
}

body {
  //overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}