*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 70%;

  @media only screen and (max-width: 91.688em) {
    font-size: 51%;
  }

  @media only screen and (max-width: 73.438em) {
    font-size: 45%;
  }

  @media only screen and (max-width: 64em) {
    font-size: 63%;
  }

  @media only screen and (max-width: 48em) {
    font-size: 49%;
  }

  @media only screen and (max-width: 37.375em) {
    font-size: 40%;
  }

  @media only screen and (max-width: 32.563em) {
    font-size: 33%;
  }

  @media only screen and (min-width: 92.875em) {
    font-size: 55%;
  }

  @media only screen and (min-width: 101.563em) {
    font-size: 57%;
  }

  @media only screen and (min-width: 131.25em) {
    font-size: 74%;
  }

  @media only screen and (min-width: 155em) {
    font-size: 86%;
  }

  @media only screen and (min-width: 162.5em) {
    font-size: 96%;
  }

  @media only screen and (min-width: 181.25em) {
    font-size: 110%;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  overflow: hidden;

  @media only screen and (max-width: 65.125em) {
    overflow: scroll;
    overflow-x: hidden;
  }
}
